<div class="jumbotron">
    <h3>Steps</h3>

    <ul class="list-unstyled">
		<li><a ng-href="#/step-1">Step 1: ng-mouseenter/ng-mouseleave</a></li>
		<li><a ng-href="#/step-2">Step 2: ng-show</a></li>
		<li><a ng-href="#/step-3">Step 3: pagination directive</a></li>
		<li><a ng-href="#/step-4">Step 4: ng-repeat, no pagination</a></li>
		<li><a ng-href="#/step-5">Step 5: select</a></li>
		<li><a ng-href="#/step-6">Step 6: select with ng-repeat</a></li>
		<li><a ng-href="#/step-7">Step 7: select with ng-options</a></li>
	</ul>
</div>



