<h2>Step 7: select with ng-options only</h2>
<ul class="list-unstyled list-inline">
	<li><a ng-href="#/step-6">Step 6</a></li>
	<li><a ng-href="#/step-8">Step 8</a></li>
</ul>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 form-group">
		<h3 ng-mouseenter="showTotal=true" 
			ng-mouseleave="showTotal=false">
			<span class="glyphicon glyphicon-shopping-cart" ></span> 
			Shopping Cart</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 form-group">
		<span ng-show="showTotal">
			<strong>Total: {{total | currency}}</strong></span>
	</div> 
</div>

<form>

	<div>
	
		<div class="row">
			<div class="col-md-8 col-sm-6 col-xs-6 form-group">
				<div class="input-group">
					<div class="input-group-addon"><span class="glyphicon glyphicon-home"></span></div>
<!-- 					<select ng-model="myShippingCountry" class="form-control">
						<option value="">Country</option>
						<option ng-repeat="country in checkoutCountries" value="{{country.alpha-3}}">{{country.name}}
						</option>
					</select> -->
					<select ng-model="myShippingCountry" 
						ng-options="country.name for country in checkoutCountries" 
						class="form-control">
						<option value="">Country</option>
					</select>

				</div>
			</div>
		</div>

	</div>

</form>
