<h2>Step 2: ng-show</h2>
<ul class="list-unstyled list-inline">
	<li><a ng-href="#/step-1">Step 1</a></li>
	<li><a ng-href="#/step-3">Step 3</a></li>
</ul>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 form-group">
		<h3 ng-mouseenter="showTotal=true" ng-mouseleave="showTotal=false"><span class="glyphicon glyphicon-shopping-cart" ></span> Shopping Cart</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 form-group">
		<span ng-show="showTotal"><strong>Total: {{total | currency}}</strong></span>
	</div> 
</div>